@import "tailwindcss";
@import "./styles/button.css";

:root {
  /*Cores*/
  --preto: #000000;
  --azulVivido: #0000ee;
  --indigoEscuro: #1c1463;
  --indigoMaisEscuro: #0e0a34;
  --indigoSuperEscuro: #050223;
  --cinza: #6a6a6a;
  --cinzaSecundario: #9c9c9c;
  --cinzaClaro: #f3f3f3;
  --vermelhoClaro: #ff7c7c;

  /*Fontes*/
}

#gridPai {
  display: grid;
  grid-template-areas:
    "A B C"
    "D B C";

  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr 2fr 1fr;
}
.gridFilho {
  margin: 1%;
  border-radius: 20px;
}
.tituloTarefas{
  margin: 2vh;
}
.tasks::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--indigoMaisEscuro);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--indigoSuperEscuro);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1d4ed8; /* azul um pouco mais forte */
}
